.services-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .services-img-container {
    overflow: hidden;

    &.even {
      border-radius: 100px 0px;

      img {
        width: 300px;
        height: 315px;
        border-radius: 100px 0px;
        filter: brightness(0.7);
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1);
        }
      }
    }

    &.odd {
      border-radius: 0px 100px;

      img {
        width: 300px;
        height: 315px;
        border-radius: 0px 100px;
        filter: brightness(0.7);
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1);
        }
      }
    }
  }

  .content {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;

    .title {
      color: var(--font-dark, #292f36);
      font-family: 'DM Serif Display';
      font-size: 20px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.5px;
    }

    .link {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }
  }
}
