.gallery {
  h2 {
    color: var(--font-dark, #292f36);
    font-family: 'DM Serif Display';
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 30px 0;
  }

  .main-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;

    .gallery-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 999px;

      .gallery-box-img {
        overflow: hidden;
        max-width: 333px;

        img {
          transition: all 0.3s;
          height: 300px;
          width: 300px;
          &:hover {
            transform: scale(1.1);
            filter: brightness(1);
          }
        }
      }
    }
  }
}
