.get-in-touch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;

  .get-in-touch-ccc {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 900px;
    margin: 0 30px;

    border-radius: 100px 0px;
    background: var(--logo-blue, #10528e);

    .get-in-touch-img {
      // max-width: 100%;
      height: 400px;
      width: auto;
      border-radius: 100px 0px 0px 0px;
    }

    .get-in-touch-content {
      h2 {
        color: #fff;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 50px;
        font-weight: 400;
        line-height: 125%;
      }

      form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        max-width: 600px;
        min-height: 300px;

        .form-group {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .form-input,
          .form-textarea {
            flex: 1;
            padding: 10px;
            border: 1px solid #e5e7eb;
            border-radius: 4px;
            font-size: 16px;
            outline: none;

            &:focus {
              border-color: #6366f1;
            }
          }

          .form-textarea {
            height: 80px;
            resize: vertical;
          }
        }
      }
    }

    .submit-button {
      padding: 10px 20px;
      background-color: #6366f1;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 0 0 70px 0;
      transition: background-color 0.3s;

      &:hover {
        background-color: #4f46e5;
      }
    }

    @media screen and (max-width: 860px) {
      flex-wrap: wrap;
      max-width: 630px;

      .get-in-touch-ccc {
        .get-in-touch-img {
          width: 630px;
          height: auto;
        }
      }
    }

    @media screen and (max-width: 470px) {
      .get-in-touch-ccc {
        .get-in-touch-img {
          width: 630px;
          height: auto;
        }

        .get-in-touch-content {
          height: 530px;
        }
      }
    }
  }
}
