@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Jost', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-section {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url('/assets/hero.png');

  background-size: cover;
  background-position: center;

  height: 100vh;

  .navbar {
    .navbar-items {
      color: #fff;
      font-weight: 400;
    }
  }

  .hero-section-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding: 20px 40px;

    .hero-section-contents-main {
      // margin-left: 200px;
      margin-left: 12%;
      transform: translateY(-60px);
      max-width: 750px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;

      h1 {
        color: #fff;
        font-family: 'DM Serif Display';
        font-size: 50px;
        font-weight: 400;
        // text-align: center;
      }

      p {
        color: #fff;
        font-family: Jost;
        max-width: 640px;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        // text-align: center;
      }

      a {
        text-decoration: none;
        padding: 10px 20px;
        gap: 10px;
        border-radius: 5px;
        background: #f8952d;
        color: #fff;
        transition: all 0.3s;

        &:hover {
          background: #fd8300;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .hero-section-contents {
      .hero-section-contents-main {
        h1 {
          margin-top: 40px;
          font-size: 40px;
          z-index: -1;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

.main-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 40px 20px;
  width: 100%;

  .main-description {
    width: 523px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    .main-image {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
        filter: brightness(1);
      }
    }

    h2 {
      color: var(--font-dark, #292f36);
      font-family: 'DM Serif Display';
      font-size: 40px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.8px;
    }

    p {
      color: var(--font-light, #4d5053);
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.16px;
    }

    .pillars-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .pillar {
        display: flex;
        align-items: center;
        gap: 10px;

        div {
          border-radius: 40px;
          background: #f4f0ec;
          display: flex;
          width: 50px;
          height: 50px;
          padding: 6px 8px;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }

        p {
          color: var(--font-dark, #292f36);
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.specifications {
  display: flex;
  justify-items: center;
  align-items: center;
  background: #f4f0ec;

  .specifications-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
    gap: 40px;
    padding: 20px 20px;
    // border: 2px solid red;

    .specification-item {
      padding: 20px;
      height: 240px;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      background-color: #fefaf6;
      border-radius: 5px;

      .specification-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 2px;
        color: #f8952d;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      p {
        color: #292f36;
        width: 200px;
        text-align: center;
        font-family: Jost;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.2px;
      }

      .specification-description {
        font-size: 16px;
        width: 280px;
      }
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;

  .services-heading {
    color: var(--font-dark, #292f36);
    font-family: 'DM Serif Display';
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.8px;
  }

  .services-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
  }
}

.testimonial {
  padding: 40px 20px;
  background: #f4f0ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  .testimonial-heading {
    color: var(--font-dark, #292f36);
    text-align: center;
    max-width: 500px;
    font-family: 'DM Serif Display';
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
  }

  .testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
