.testimonial {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 800px;
  }

  .testimonial-heading {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'DM Serif Display', serif;
    color: #292f36;
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  .testimonial-cards {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    width: 100%;

    .testimonial-cards-container {
      display: flex;
      height: auto;
      transition: transform 0.5s ease;

      &.no-transition {
        transition: none;
      }
    }
  }

  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    // transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 10;
    pointer-events: none;

    @media (min-width: 768px) {
      padding: 0 50px;
    }

    button {
      background-color: white;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      pointer-events: auto;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &:hover {
        transform: scale(1.1);
        background-color: #f0f0f0;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      @media (min-width: 768px) {
        width: 50px;
        height: 50px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: white;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px 0px;
  box-sizing: border-box;
  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    padding: 40px 20px;
  }

  &.active {
    transform: none;

    @media (min-width: 768px) {
      transform: scale(1.05);
      z-index: 1;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 20px;
      text-align: left;
    }
  }

  &-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;

    @media (min-width: 768px) {
      height: 70px;
      width: 70px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
  }

  &-name {
    color: #292f36;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &-address {
    color: #4d5053;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.32px;
    margin: 5px 0 0;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &-text-wrapper {
    padding: 10px;
    max-height: none;
    // overflow-y: visible;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 60%;
      max-height: 300px;
      overflow-y: auto;
      padding-right: 10px;
    }
  }

  &-text {
    color: #4d5053;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      width: 400px;
    }

    @media screen and (max-width: 440px) {
      width: 220px;
    }
  }
}

.testimonial-card-text-wrapper::-webkit-scrollbar {
  width: 6px;
}

.testimonial-card-text-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.testimonial-card-text-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.testimonial-card-text-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
